<link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css">
<link rel="stylesheet" href="https://unpkg.com/primeflex/themes/arya-blue.css">
<h1 class="mt-3 flex justify-content-center ">Conversor-de-Temperatura</h1>

<div class="mt-3 flex justify-content-center card-container">
  
  <input  class="w-1 inline-block h-4rem  text-gray font-bold text-center p-4 border-round" type="number" pInputText [(ngModel)]="temperatura">

  <p-dropdown class="inline-block h-4rem  text-white font-bold text-center p-4 border-round" [options]="escalas" [(ngModel)]="escalaSelecionada" placeholder="Temperatura em" optionLabel="name" [showClear]="true"></p-dropdown>

  <button  pButton pRipple (click)="resolver()" type="button" icon="pi pi-chevron-right" class="mt-3 text-white font-bold text-center p-4 border-round p-button-rounded p-button-info"></button>

  <p-dropdown class="inline-block h-4rem  text-white font-bold text-center p-4 border-round"   [options]="escalas" [(ngModel)]="escalaparaconverter" placeholder="converter para" optionLabel="name" [showClear]="true"></p-dropdown>

  <input placeholder="Resultado" class="w-1 inline-block h-4rem  text-gray font-bold text-center p-4 border-round" id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="resultado"  />
</div>

<!-- <div class="card">
  <div class="flex card-container indigo-container">
      <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4">1</div>
      <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 mx-4">2</div>
      <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4">3</div>
  </div>
</div> -->




